<li>
    <div>
        <img  style="width: 500px; height: auto;" src="http://192.168.56.101<%= course.media.course_image.uri %>" >
    </div>
    <div>
        <a href="/course/<%= course.id %>">
            <%= course.name %>
        </a>
    </div>
</li>