<!DOCTYPE html>
<html>

<head>
  <title>
    Administrator page
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<div><a href="/">Back</a></div>

<table>
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Year of Birth</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Country</th>
    </tr>
    <% users.forEach(user=> { %>
        <%- include('enrollment', {user: user}); %>
    <% }) %>

</table>
</body>

</html>