<!DOCTYPE html>
<html>

<head>
  <title>
    Administrator page
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Welcome, <%= user %>
    </h1>
    </p>
    <% if(pagination.count == 0){ %>
        <p>You have no course</p>
    <% } else{ %>
        <p>Here is your course</p>
        <% courses.forEach(course => { %>
            <%- include('courses/course', {course: course}); %>
        <% }) %>
    <% } %>
    <div>
        <% if(pagination.previous){ %>
            <a href="/page/<%= pagination.previous %>">Previous</a>
        <% } %>
        <% if(pagination.next){ %>
            <a href="/page/<%= pagination.next %>">Next</a>
        <% } %>
    </div>
</body>

</html>